/* Main */
#calendar a {
    text-decoration: none !important;
    color:var(--darkColor);
}

.fc-h-event{
    border: none;
    border-radius: var(--roundedMini);
}

/* Toolbar */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
    position: relative;
}
.fc-toolbar-chunk .fc-button-group button, .fc-today-button.fc-button.fc-button-primary{
    padding: 6px var(--spaceXSM) !important;
    border: 1.75px solid var(--primaryLightBG) !important;
    padding: 6px var(--spaceXSM) !important;
    background: transparent;
    color: var(--primaryColor);
}
.fc-toolbar-chunk .fc-button-group button.fc-button-active, .fc-toolbar-chunk .fc-button-group button:hover, .fc-today-button.fc-button.fc-button-primary:disabled{
    background: var(--primaryLightBG) !important;
    color: var(--primaryColor) !important;
    border: none; 
}
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-toolbar-chunk:nth-child(2n)  {
    position: absolute;
    margin-left: 18vh;
}
.fc-next-button.fc-button.fc-button-primary, .fc-prev-button.fc-button.fc-button-primary{
    border: none !important;
}
.calendar-tag-holder {
    position: absolute; 
    right: 20vh; 
    z-index: 99;
}
.calendar-tag-holder .btn-primary{
    background: var(--primaryLightBG) !important;
    color: var(--primaryColor) !important;
    z-index: 99 !important;
}

/* Day Grid */
.fc-daygrid-event-dot{
    border:none !important;
}
.fc .fc-daygrid-day.fc-day-today{
    background: transparent;
}
.fc .fc-daygrid-day.fc-day-today a.fc-daygrid-day-number{
    background: var(--primaryColor);
    border-radius: var(--roundedCircle);
    width: 25px;
    height: 25px;
    margin: var(--spaceMini);
    color: var(--whiteColor) !important;
    padding-top: var(--spaceMini) / 2; 
}
a.fc-daygrid-day-number{
    font-size: var(--textXMD); 
}
.fc-event-time{
    display:none;
}

/* Day Event */
.fc-event-title{
    color: var(--darkColor)!important;
    white-space: normal !important;
    font-weight: 500;
}
/* .fc-daygrid-day-events{
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow-y: scroll;
} */
.fc-daygrid-event, .fc-timegrid-event{
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 999 !important;
}
.fc-daygrid-event:hover, .fc-timegrid-event:hover{
    background: var(--calendarItem) !important;
}
th.fc-col-header-cell.fc-day{
    background: var(--primaryLightBG);
    padding: var(--spaceSM);
    border: 1.25px solid var(--darkColor);
}
table.fc-scrollgrid.fc-scrollgrid-liquid{
    border: 1.25px solid var(--darkColor)!important;
    border-radius: var(--roundedSM); /*Fix this*/
}
th.fc-col-header-cell.fc-day a{
    font-size: var(--textXLG);
    color: var(--darkColor);
}
td.fc-daygrid-day.fc-day{
    border: 1.25px solid var(--darkColor)!important;
    height: 40px !important;
}
.fc-daygrid-event, .fc-timegrid-event{
    background: var(--infoLightBG) !important;
    white-space: normal !important;
    margin: 0 10px 10px 15px !important;
    font-weight: 500;
    border-radius: 0 var(--roundedMini) var(--roundedMini) 0;
    border-left: 2.5px solid var(--infoBG);
    position: relative;
    cursor: pointer;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2.4px 4px;
}

.fc-daygrid-event.fc-daygrid-dot-event{
    padding: 6px 0 var(--spaceXSM) 4px !important;
}
.fc-daygrid-event.fc-daygrid-block-event{
    padding: 6px 0 var(--spaceXSM) 10px !important;
}
.fc-v-event .fc-event-title-container{
    padding: var(--spaceXSM) !important;
}

.fc-daygrid-event:last-child, .fc-timegrid-event:last-child {
    padding-bottom: 0;
}
.fc-daygrid-event::before, .fc-timegrid-event::before {
    content: "";
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50px;
    left: -7.5px;
    top: 30%;
    background: var(--whiteColor);
    border: 2.5px solid var(--infoBG);
}
.fc-daygrid-event .fc-event-title, .fc-timegrid-event .fc-event-title{
    font-size: var(--textXSM);
    font-weight: 500;
}

/* Show More */
.fc-popover.fc-more-popover{
    border-radius: var(--roundedMini);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.fc-popover.fc-more-popover .fc-popover-title{
    font-weight: 500;
    color: var(--darkColor);
}
.fc-popover.fc-more-popover .fc-popover-body{
    flex-direction: column;
    height: 60vh;
    z-index: 999;
    overflow-y: scroll;
}
.fc-popover-close.fc-icon.fc-icon-x{
    border: 1.75px solid var(--warningBG);
    padding: 1.25px;
    width: 25px !important;
    height: 25px !important;
    border-radius: var(--roundedMini);
    color: var(--warningBG) !important; 
    margin: var(--spaceXXSM);
}
.fc-popover-close.fc-icon.fc-icon-x:hover{
    background: var(--warningBG) !important; 
    color: var(--whiteColor) !important; 
}
.fc-daygrid-more-link.fc-more-link{
    color: var(--darkColor) !important; 
    float: right !important;
    top: -5px;
    margin-right: var(--spaceXXSM);
    font-size: var(--textMD);
    font-weight: 400;
}

/* Mobile style */
@media (max-width: 767px) {
    #calendar {
        width: 1100px !important;
    }
    #calendar a{
        font-size: var(--textXMD);
    }
    .calendar-holder {
        display: flex; 
        flex-direction: column; 
        max-width: 100vh; 
        overflow-x: scroll;
    }
    .fc-toolbar-title {
        font-size: var(--textLG) !important;
        position: absolute;
        left: 30px !important;
        top: -10px;
        white-space: nowrap;
    }
    th.fc-col-header-cell.fc-day {
        padding: var(--spaceMini);
    }
    .calendar-tag-holder {
        top: var(--spaceJumbo);
        left: var(--spaceMD);
    }
}
