.incoming-req-box{
    position: relative;
    height: 75vh;
}
.user-req-holder{
    margin-top: 20px;
    padding: var(--spaceXXSM) 16px 0 var(--spaceXXSM);
    display: flex;
    flex-direction: column;
    max-height: 90%;
    overflow-y: scroll;
}
.user-box{
    border-left: 3px solid var(--shadowColor);
    border-radius: var(--roundedSM);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: var(--spaceXXSM);
    width: 100%;
    border: none;
    text-align: start;
    background: var(--whiteColor);
    margin-bottom: var(--spaceMD);
}
.user-box-desc{
    font-size: var(--textSM);
    font-weight: 400;
    margin: 0;
}
.user-box-date {
    font-size: var(--textSM);
    font-weight: 400;
    color: var(--greyColor);
    margin: 0;
}
.detail-box {
    height: 75vh;
}
.scroll-role {
    margin: 0;
    padding: 0;
    display: flex;
    max-height: 50vh;
    flex-direction: column;
    overflow-y: scroll;
}

/* Mobile style */
@media (max-width: 767px) {
    .incoming-req-box {
        height: auto;
        padding-inline: var(--spaceXXSM);
    }
    ol li {
        font-size: var(--textXMD);
    }
    .user-box.request { 
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1.5px 4px;
    }
}
