.event-box{
    border-radius:14px;
    height:250px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor:pointer;
    width: 100%;
    padding:0px;
    text-align:left;
    position: relative;
}
.event-box.ultimate{
    height:310px !important;
}
.event-created-at{
    position: absolute;
    top: 7.5px;
    right: 10px;
    color: #F5F5F5 !important;
    font-weight: 500;
    font-size: var(--textXMD);
}
.event-views{
    position: absolute;
    top: 7.5px;
    color: #F5F5F5 !important;
    font-weight: 500;
    font-size: var(--textXMD);
}
.event-status{
    position: absolute;
    top: 7.5px;
    left: 70px;
    font-weight: 500;
    font-size: var(--textXMD);
}
.event-box:hover{
    transform: scale(1.035);
}
.event-box .event-title, .task-title{
    font-weight: 500;
    font-size: var(--textXMD);
    color:#404040 !important;
    top: -40px;
    position: absolute;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 1; 
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.event-box .event-subtitle, .task-subtitle{
    font-weight: 500;
    font-size: var(--textMD);
    color:var(--darkColor) !important;
    top: -20px;
    position: absolute;
}
.event-box .event-desc{
    font-weight: 400;
    font-size: var(--textSM);
    color:#989898 !important;
    margin:0px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.warning-draft{
    padding: var(--spaceXSM) 12px;
    text-decoration: none;
    font-size: var(--textXLG);
    position: absolute;
    top: -20px;
    right: 20px;
    min-width: 45px;
    height: 45px;
    border: 1.75px solid var(--whiteColor);
    border-radius: 100px;
    background: var(--warningDarkBG);
    color:var(--whiteColor) !important;
}
.total-my-event{
    padding: var(--spaceXSM) 12px;
    text-decoration: none;
    font-size: var(--textXLG);
    position: absolute;
    top: -20px;
    right: 20px;
    min-width: 45px;
    height: 45px;
    border: 1.75px solid var(--whiteColor);
    border-radius: 100px;
    background: #58C06E;
    color:var(--whiteColor) !important;
}
.btn-detail{
    text-decoration: none !important;
    border-radius: 6px;
    font-size: var(--textSM);
    font-weight: 500;
    padding: var(--spaceXXSM);
    color: var(--primaryColor) !important;
    cursor:pointer;
}
.user-image-content{
    border:2px solid var(--primaryColor);
    width:40px;
    height:40px;
    border-radius: var(--roundedCircle);
    margin-inline:auto;
    display: block;
}
.user-image-content.large{
    width:70px;
    height:70px;
}
.header-image{
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-color: black;
    height:110px;
    width: 100%;
    border-radius: 14px 14px 0px 0px !important;
}
.loc-limiter{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

@media screen and (max-width: 1000px) {
    .user-image-content{ /*Need to be fixed*/
        position:absolute;
        margin-top:-37.5px;
        margin-left:35%;
    }
}
.ajax-load{
    padding: var(--spaceSM) 0px;
    width: 100%;
}