.group-box-notif{
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background: #FFDEB4;
    position: relative;
}
.collapse-group-box-toogle{
    top: 4px;
    right: 4px;
    font-size: var(--textXMD);
    position: absolute;
}