.group-box-notif{
    padding: var(--spaceXSM);
    margin-bottom: var(--spaceXSM);
    border-radius: var(--roundedSM);
    background: var(--primaryLightBG);
    position: relative;
}
.collapse-group-box-toogle{
    top: 4px;
    right: 4px;
    font-size: var(--textXMD);
    position: absolute;
}