.form-floating{
    max-width: 400px;
}
.form-floating .form-control.login{
    border: none;
    border-bottom: 3px solid var(--darkColor);
    border-radius: 0;
}
.btn-primary-outlined{
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    max-width: 400px;
}
.btn-primary-outlined:hover{
    background: var(--primaryColor);
    color: #F5F5F5;
}
.btn-forgot-password{
    color: #414141;
}
.btn-forgot-password:hover{
    color: var(--warningDarkBG) !important;
}
.btn-faq{
    text-decoration: none;
    margin: 0;
    width: 100%;
    text-align: left;
    position: relative;
    background: none;
    border: none;
    min-height: 60px;
}
.btn-faq h6{
    margin-right: var(--spaceXMD);
}
.btn-faq-icon{
    position: absolute;
    right: 10px;
    width: 27.5px;
    top: 35%;
}
.form-control.login:focus{
    box-shadow: none !important;
}
.card-header.faq-header{
    border-radius: 10px;
    background: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2.5px 6px;
}
footer  {
    position: relative; 
    margin-top: 120px !important;
}
footer p{
    font-size: var(--textXLG);
}
.page-footer{
    background-image: linear-gradient(to right,var(--primaryColor) 20%, 65%, var(--darkColor));
    width:100%;
    padding: calc(var(--spaceJumbo) + 5px);
    border-radius: var(--roundedJumbo) var(--roundedJumbo) 0 0;
}
#fik-logo{
    margin-top:35%;
}
@media (max-width: 768px) {
    #fik-logo {
        margin-top: 0;
        width: 240px;
        height: 70px;
    }
}