.imessage {
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    padding: 0.5rem 1.5rem;
    max-height: 60vh;
    min-height: 42vh;
    overflow-y: scroll;
    box-shadow: rgba(117, 117, 125, 0.25) 0px 12px 30px -10px inset, rgba(0, 0, 0, 0.3) 0px 10px 20px -14px inset;
} 
.imessage div.from-them, .imessage div.from-me {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: var(--spaceMD);
    position: relative;
    word-wrap: break-word;
}  
.date-chip {
    border-radius: var(--roundedSM);
    background: var(--primaryLightBG);
    width: 100px;
    padding: var(--spaceXXSM) var(--spaceMini);
    font-size: var(--textMD);
    text-align: center;
    display: block;
    margin-inline: auto !important;
    margin-bottom: 10px;
}
.box-replied{
    background: #f8e5cc;
    padding:var(--spaceXXSM);
    margin: var(--spaceXXSM) 0 var(--spaceXXSM) 0;
    width: 100% !important;
    border-radius: 0 var(--roundedSM) var(--roundedSM) 0 !important;
    border-left: 4px solid var(--primaryColor);
}

.imessage div::before, .imessage div::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}  
div.from-me {
    align-self: flex-end;
    background-color: var(--primaryColor);
    color: var(--whiteColor); 
}
div.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid var(--primaryColor);
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}
a.from-me-clock{
    text-decoration: none;
    color: var(--darkColor);
    font-size: var(--textXMD);
    text-align: end;
}
a.from-them-clock{
    text-decoration: none;
    color: var(--darkColor);
    font-size: var(--textXMD);
    text-align: start;
}
  
div.from-me::after {
    background-color: var(--whiteColor);
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}
div[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
}
  
div.from-me ~ div.from-me {
    margin: 0.25rem 0 0;
}
div.from-me ~ div.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
}
div.from-me ~ div.from-me:last-child {
    margin-bottom: 0.5rem;
} 
div.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: var(--darkColor);
}
div.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}
div.from-them::after {
    background-color: var(--whiteColor);
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
div[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
}
div[class^="from-"].emoji::before {
    content: none;
}
  
.no-tail::before {
    display: none;
}
.margin-b_none {
    margin-bottom: 0 !important;
}
.margin-b_one {
    margin-bottom: 1rem !important;
}
.margin-t_one {
    margin-top: 1rem !important;
}
.comment {
    color: #222;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    max-width: 100%;
    padding: 0;
}
.msg-box{
    background: var(--whiteColor);
    border-radius: var(--roundedSM);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    padding: var(--spaceXXSM);
    position: absolute;
    right: 120px;
    bottom: 60px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
  
@media screen and (max-width: 800px) {
    .imessage {
        font-size: 1.05rem;
        margin: 0 auto 1rem;
        padding: 0.25rem 0.875rem;
    }
    .imessage div {
        margin: 0.5rem 0;
    }
}

/* Tablet & Mobile style */
@media (min-width: 0) and (max-width: 1023px) {
    .date-chip {
        font-size: var(--textSM);
    }
}