.btn-register-steps{
    font-size: var(--textJumbo);
    font-weight: 500;
    padding: calc(var(--spaceXMD) + 2px) calc(var(--spaceXLG) + 2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: 6px solid var(--primaryColor);
    width: 100%;
    text-align: start;
    border-radius: 0 var(--roundedLG) var(--roundedLG) 0;
    margin-bottom: var(--spaceLG);
    cursor: pointer !important;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-register-steps h6.text-secondary{
    text-decoration: none;
    font-size: var(--textXMD);
    margin-top: 0;
}
.btn-register-steps:hover h6.text-secondary{
    color: white !important;
}
.section-register{
    padding: calc(var(--spaceXMD) + 2px) calc(var(--spaceXLG) + 2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: var(--roundedLG);
    min-height: 70vh;
    margin-top: var(--spaceMD);
    position: relative;
}

.btn-close-register{
    font-size: var(--textLG);
    color: #DE3534 !important;
    margin-bottom: var(--spaceLG);
}

.btn-register-steps:hover{
    background:var(--primaryColor);
    color: white;
}

.btn-next-steps{
    border: 2px solid #58C06E;
    font-size: var(--textLG);
    color: #58C06E;
    background: white;
    border-radius: var(--roundedSM);
    padding: var(--spaceXXSM);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 160px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.btn-next-steps:hover{
    color: white;
    background: #58C06E;
}

.content-image-holder{
    position: relative;
    margin-top: var(--spaceXXSM);
    margin-bottom: var(--spaceXXSM); 
    width:200px; 
    height:200px;
}
.content-image-holder .content-image{
    margin-inline: auto;
    display: block;
    border-radius: var(--roundedCircle) !important;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    height:200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image-upload{
    position: absolute;
}
.image-upload>input {
    display: none;
}
.btn.change-image{
    width: 50px; 
    position: absolute; 
    height: 50px; 
    bottom: 35px;
    right: -200px;
    background: var(--primaryColor);
    border-radius: var(--roundedCircle);
    display: block;
    margin-inline: auto;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 100;
}
.content-image-holder .btn-icon-reset-image{
    position: absolute; 
    bottom: 5px;
    left: 0;
    width:50px; 
    height:50px; 
    padding-top: var(--spaceMD);
    border-radius: var(--roundedCircle);
    background: var(--warningBG) !important;
    color:var(--whiteColor) !important;
    z-index: 100;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.content-image-holder .status-holder{
    position: absolute; 
    bottom: 10px; 
    left: 60px;
}

.locked{
    cursor: default !important;
}
.selected-role{
    background: var(--primaryLightBG);
    border-radius: var(--roundedSM);
    padding: var(--spaceXXSM);
    margin-bottom: var(--spaceSM);
}
.important-category{
    background: #fcc4c4;
    border-radius: var(--roundedSM);
    padding: var(--spaceXXSM);
    padding-top: var(--spaceMini);
}
.registered-msg{
    color: var(--successBG) !important;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 180px;
}