/*Richtext header*/
.ql-toolbar.ql-snow{
    border:1.7px solid var(--primaryColor);
    margin-top:var(--spaceSM);
    border-radius:10px 10px 0 0;
    background: var(--whiteColor);
}
.ql-snow .ql-stroke {
    stroke:#414141;
}
.ql-snow.ql-toolbar button{
    border-radius:6px;
    height:25px;
    width:25px;
    padding-left:var(--spaceMini);
    margin-right:var(--spaceSM);
    transition: all 0.4s;
}
.ql-snow.ql-toolbar button:hover .ql-stroke{
    stroke:var(--primaryColor);
}
button.ql-active{
    background:var(--primaryColor) !important;
}
button.ql-active svg .ql-stroke{
    stroke:var(--whiteColor) !important;
}

/*Richtext body*/
.ql-toolbar.ql-snow + .ql-container.ql-snow{
    height:30vh;
    background: var(--whiteColor);
}
.input-title{
    font-weight: 500;
}