.tabular {
    min-height: 45vh !important;
}

.tabular-item .properties{
    width: 180px;
}
.tabular-item .properties h6{
    margin: 0;
}
.tabular-item .properties a, .tabular-item .properties a span{
    font-size: var(--textMD);
}
.tabular-item .email:hover{
    color: var(--primaryColor);
}

.tabular-body .tabular-item.normal{
    background: transparent;
}
.tabular-body .tabular-item.waiting{
    background: var(--primaryLightBG);
}
.tabular-body .tabular-item.suspend{
    background:  #f5a2a8;
}

.tabular-body .tabular-item.normal:hover{
    background: #F4F4F4;
}
.tabular-body .tabular-item.waiting:hover{
    background: #fbd29c;
}
.tabular-body .tabular-item.suspend:hover{
    background:  #f19399;
}
.tabular-item .tabular-role-holder{
    font-size: var(--textMD);
}

.page-item.active .page-link{
    background:var(--primaryColor) !important;
    border:none;
    color:var(--whiteColor);
}
.page-item .page-link{
    color:var(--darkColor);
}    

/* Mobile style */
@media (max-width: 767px) {
    .tabular-role-holder span, td.properties h6, td.properties a{
        font-size: var(--textSM);
    }
}