.tabular {
    min-height: 45vh !important;
}

.tabular-item .properties{
    width: 180px;
}
.tabular-item .properties h6{
    margin: 0;
}
.tabular-item .properties a {
    font-size: var(--textMD);
}
.tabular-item .email:hover{
    color: var(--primaryColor);
}

.tabular-body .tabular-item.normal{
    background: transparent;
}
.tabular-body .tabular-item.waiting{
    background: #FFDEB4;
}
.tabular-body .tabular-item.suspend{
    background:  #f5a2a8;
}

.tabular-body .tabular-item.normal:hover{
    background: #F4F4F4;
}
.tabular-body .tabular-item.waiting:hover{
    background: #fbd29c;
}
.tabular-body .tabular-item.suspend:hover{
    background:  #f19399;
}

.page-item.active .page-link{
    background:var(--primaryColor) !important;
    border:none;
    color:#FFFFFF;
}
.page-item .page-link{
    color:#414141;
}    