.task-box{
    border-radius:14px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor:pointer;
    width: 100%;
    padding:0px;
    text-align:left;
    position: relative;
}
.task-created-at{
    position: absolute;
    top: 7.5px;
    right: 10px;
    color: var(--primaryColor) !important;
    font-weight: 500;
    font-size: var(--textXMD);
}
.task-views{
    position: absolute;
    top: 7.5px;
    left: 10px;
    color: #F5F5F5 !important;
    font-weight: 500;
    font-size: var(--textXMD);
}
.task-status{
    position: absolute;
    top: 7.5px;
    left: 70px;
    font-weight: 500;
    font-size: var(--textXMD);
}
.task-box:hover{
    transform: scale(1.035);
}
.task-box .task-title{
    font-weight: 500;
    font-size: var(--textXMD);
    color:#404040 !important;
    margin:0px;
}
.task-box .task-subtitle{
    font-weight: 500;
    font-size: var(--textMD);
    color:var(--darkColor) !important;
    margin:0px;
}
.task-box .task-desc{
    font-weight: 400;
    font-size: var(--textSM);
    color:#989898 !important;
    margin:0px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.btn-detail{
    text-decoration: none !important;
    border-radius: 6px;
    font-size: var(--textSM);
    font-weight: 500;
    padding: 5px;
    color: var(--primaryColor) !important;
    cursor:pointer;
}
.user-image-content{
    border:2px solid var(--primaryColor);
    width:40px;
    height:40px;
    cursor:pointer; /*if we can view other user profile*/
    border-radius:30px;
    margin-inline:auto;
    display: block;
}
.header-image{
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-color: black;
    height:110px;
    width: 100%;
    border-radius: 14px 14px 0px 0px !important;
}
.loc-limiter{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

@media screen and (max-width: 1000px) {
    .user-image-content{ /*Need to be fixed*/
        position:absolute;
        margin-top:-37.5px;
        margin-left:35%;
    }
}
/* @media screen and (max-width: 768px) {
    
} */
.ajax-load{
    padding: 10px 0px;
    width: 100%;
}