.holder-trash-category{
    display: flex;
    flex-direction: column;
    padding: var(--spaceXSM);
    height: 65vh;
    overflow-y: scroll;
}
.carousel-control-holder{
    position: absolute;
    right: 60px;
    top: -10px;
}
.carousel-control-prev, .carousel-control-next{
    color: var(--primaryColor) !important;
    height: 50px;
    width: 50px;
    border-radius: var(--roundedMD);
    margin: var(--spaceSM);
    padding: var(--spaceSM);
    opacity: 1;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background: #FADFB9;
}