.btn {
    border-radius: var(--roundedSM);
}
.btn-submit{
    background: var(--successBG);
    color: var(--whiteColor) !important;
}
.btn-primary{
    background: var(--primaryColor) !important;
    border: none;
}
.btn-success{
    background: var(--successBG) !important;
    border: none;
}
.btn-info{
    background: var( --infoBG) !important;
    color:var(--whiteColor) !important;
    border: none;
}
.btn-noline{
    background: transparent;
    border: none;
    color: var(--darkColor);
}
.btn-primary-v{
    background: var(--primaryLightBG) !important;
    color: var(--primaryColor) !important;
    z-index: 998 !important;
}
.btn-hide-bar{
    color: var(--whiteColor) !important;
}
.btn-config-holder{
    display:flex !important; 
    flex-direction: row; 
    justify-content: start;
}
.btn-filter{
    color:var(--darkColor);
    border: 1.5px solid var(--hoverBG);
    font-size: var(--textMD);
    margin-top: var(--spaceXXSM);
}
.btn-filter:hover{
    background:var(--successBG);
    color: var(--whiteColor);
    border: 1.5px solid var(--successBG);
}
.btn-filter.selected{
    color:var(--successBG);
    font-weight: 500;
    border: 1.5px solid var(--successBG);
}
.btn-category-help{
    margin: 0 0 var(--spaceSM) calc(var(--spaceLG) + var(--spaceXMD));
    border-left: 3px solid var(--primaryColor);
    background: var(--semiPrimary);
    border-radius: 0;
    padding: var(--spaceXSM) var(--spaceSM); 
    width: 85%;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-category-help:hover, .btn-category-help.active{
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-radius: var(--roundedSM);
}
.btn-category-help.add:hover{
    background: var(--semiPrimary) !important;
}

.btn-submit-form:disabled, .btn-submit-form{
    color: var(--whiteColor);
    border-radius: var(--roundedMini);
    border: solid 1.75px var(--successBG);
    background: var(--successBG);
    margin-top: var(--spaceSM);
    margin-bottom: var(--spaceSM);
    opacity: 1;
}
.btn-submit-form{
    cursor: pointer;
}
.btn-submit-form:hover{
    background:var(--successDarkBG);
    color: var(--whiteColor);
}
.btn-msg{
    width: 50px;
    height: 50px;
    border-radius: var(--roundedCircle);
    font-size: var(--textJumbo);
    background: var(--whiteColor);
    position: absolute;
    bottom: 60px;
    right: 50px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-msg.text-success:hover{
    background: var(--successBG);
    color: var(--whiteColor) !important;
}
.btn-msg.text-danger:hover{
    background: var(--warningDarkBG);
    color: var(--whiteColor) !important;
}

.btn-tag{
    background: var(--whiteColor);
    padding: var(--spaceXXSM) var(--spaceXSM);
    border-radius: var(--roundedSM);
    margin: var(--spaceMini);
    color:var(--darkColor);
    font-weight: 400;
    border: 1.5px solid var(--primaryColor);
}
.btn-tag:hover, .btn-tag-selected{
    background: var(--primaryColor);
    padding: var(--spaceXXSM) var(--spaceXSM);
    border-radius: var(--roundedSM);
    margin: var(--spaceMini);
    color:var(--whiteColor) !important;
}
.btn-detail-config{
    color:var(--whiteColor) !important;
    margin-right:var(--spaceXXSM);
}
.btn-detail-config.primary{
    background:var(--primaryColor);
}
.btn-detail-config.danger, .hover-danger:hover, .btn-tag-selected:hover{
    background: var(--warningDarkBG);
}
.btn-detail-config.success{
    background:var(--successBG);
}
.detail-box{
    height: 80vh;
    position: relative;
}
.config-btn-group{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--spaceXSM);
    background: var(--whiteColor) !important;
}

.btn-link{
    text-decoration:none;
    padding: var(--spaceSM) var(--spaceXMD);
    border-radius: var(--roundedMini);
    color: var(--primaryColor);
    background: transparent;
    font-weight: 500;
    font-size: var(--textLG);
}
.btn-link-danger{
    text-decoration: none;
    padding: var(--spaceSM) var(--spaceXMD);
    border-radius: var(--roundedMini);
    color: var(--warningDarkBG) !important;
    background: transparent;
    font-weight: 500;
    font-size: var(--textLG);
}
.btn-link:hover{
    color: var(--whiteColor);
    background: var(--primaryColor);
}

.btn-icon-rounded {
    border-radius: var(--roundedCircle);
    width: 40px;
    height: 40px;
}
.btn-icon-rounded.danger{
    color: var(--warningDarkBG);
    
}
.btn-icon-rounded.danger:hover{
    background: var(--warningDarkBG);
    color: var(--whiteColor);
}
.btn-icon-rounded.info{
    color: var(--infoBG);
}
.btn-icon-rounded.info:hover{
    background: var(--infoBG);
    color: var(--whiteColor);
}
.btn-icon-rounded.success{
    color: var(--successBG);
}
.btn-icon-rounded.success:hover{
    background: var(--successBG);
    color: var(--whiteColor);
}

.btn-danger-icon-outlined{
    border-radius: var(--roundedCircle);
}
.btn-danger-icon-outlined:hover{
    background: var(--warningDarkBG);
    color: var(--whiteColor);
}

.content-more-floating{
    font-weight: 500;
    color:var(--primaryColor);
    background:var(--whiteColor);
    border:1.5px solid var(--primaryColor);
    text-decoration:none !important;
    cursor: pointer;
    padding:var(--spaceXSM) var(--spaceXMD);
    margin: var(--spaceXMD) 0 var(--spaceXMD) 0;
    border-radius: var(--roundedMini);
    font-size: var(--textMD);
    display: block;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content-more-floating:hover{
    color:var(--whiteColor);
    background:var(--primaryColor);
}

.tag-check{
    background: var(--whiteColor);
    border-radius: var(--roundedXLG);
    border: 1.5px solid var(--hoverBG);
    overflow: hidden;
    margin-top: var(--spaceXXSM);
    width: fit-content;
    block-size: fit-content;    
    margin-right: var(--spaceMini);
    display: inline-block;
}
.tag-check:hover{
    border: 1.5px solid var(--successBG);
    background: var(--successBG) !important;
}
.tag-check:hover label span{
    color: var(--whiteColor) !important;
}

.tag-check input:checked{
    border: 1.5px solid var(--successBG) !important;
}
  
.tag-check label {
    float: left; 
    cursor: pointer !important;
}
  
.tag-check label span {
    text-align: center;
    padding: var(--spaceMini) var(--spaceMD);
    display: block;
}
  
.tag-check label input {
    position: absolute;
    display: none !important;
    color: var(--whiteColor) !important;
}
.tag-check label input + span{
    color: var(--darkColor);
}  
.tag-check input:checked + span {
    color: var(--successBG);
}
.Checked input:checked + span{
    color: var(--successBG);
    background: transparent;
}

.user-check{
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-right: var(--spaceXMD)-2;
    width:150px;
    height:120px;
    border-radius: var(--roundedSM);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--whiteColor);
    margin-bottom: var(--spaceXMD);
}

.user-check label {
    padding:0 !important;
    margin:0 !important;
}
.user-check .check-body{
    padding: var(--spaceSM);
    margin: 0;
    width: 100% !important;
    border-radius: var(--roundedSM);
    height: 100% !important;
}

.user-check:hover{
    border: 1.5px solid var(--warningDarkBG);
    background: var(--warningDarkBG) !important;
}
.user-check:hover label span{
    color: var(--whiteColor) !important;
}
  
.user-check label {
    cursor: pointer !important;
    width: 100%;
    height: 100%;
    border-radius: var(--roundedSM);
}
  
.user-check label span {
    text-align: center;
}
  
.user-check label input {
    position: absolute;
    display: none !important;
    color: var(--whiteColor) !important;
}
.user-check label input + span{
    color: var(--darkColor);
}  
.user-check input:checked + .check-body {
    background: var(--warningDarkBG);
    color: var(--whiteColor);
}

.remove_suggest{
    padding-right: 0 !important;
    border-radius: var(--roundedMini);
    color: var(--warningDarkBG);
    cursor: pointer;
}
.remove_suggest:hover{
    background: var(--warningDarkBG) !important;
    color: var(--whiteColor);
}
.btn-change-image:hover, .change-image:hover, .btn-reset-image:hover, .btn-icon-reset-image:hover{
    transform: scale(1.075);
}
.btn-change-image{
    position: absolute;
    background: var( --infoBG);
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: var(--spaceSM);
    border-radius: var(--roundedXLG);
    top: 55px;
    right: 20px;
    border: 3px solid var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-reset-image{
    height:50px; 
    width:50px; 
    background: var(--warningDarkBG);
    border-radius: var(--roundedXLG); 
    padding: var(--spaceMD);
    position: absolute;
    cursor: pointer;
    color: var(--whiteColor) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 3px solid var(--whiteColor);
    -webkit-transition: all 0.6s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}   
.btn-delete-custom{
    color:var(--warningDarkBG);
    border-radius: var(--roundedMini);
    border: solid 2px var(--warningDarkBG);
    margin-top: var(--spaceSM);
    margin-bottom: var(--spaceSM);
    opacity: 1;
}
.btn-delete-custom:hover{
    background:var(--warningDarkBG);
    color: var(--whiteColor);
}
.btn-delete-custom:disabled{
    opacity: 1;
}
.btn-copy-link{
    color: var(--darkColor);
    cursor: pointer;
    margin-right: 10px;
}
.btn-copy-link:hover{
    color: #F78A00;
}

/* Mobile style */
@media (max-width: 767px) {
    .btn-danger, .btn-success, .btn-info {
        font-size: var(--textXMD) !important;
    }
    .btn-msg {
        bottom: 60px;
        right: 30px;
    }
}