.dropdown-menu{
    border: none;
    margin: var(--spaceSM) 0 0 0 !important; 
    border-radius: 10px !important;
    padding-bottom: 0;
    width: 480px !important;
}
.dropdown-menu-end .dropdown-item.active, .dropdown-menu-end .dropdown-item:active, .dropdown-menu-end .dropdown-item:hover{
    background: none !important;
}
.dropdown-item{
    padding-bottom: var(--spaceLG);
    padding-left: 0;
    padding-right: 0;
}
.dropdown-item hr{
    margin: 0;
}
.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer{
    padding: var(--spaceXMD) !important;
}
.dropdown-menu .dropdown-header .dropdown-title{
    color: var(--darkColor);
    font-weight: 500;
    font-size: var(--textXLG);
}
.dropdown-menu .dropdown-body{
    padding: var(--spaceXMD) !important;
}
.dropdown-menu .properties-box,.dropdown-menu .properties-box:hover{
    border-radius: 0 0 10px 10px;
    padding: var(--spaceSM) var(--spaceXMD) !important;
    color: #FFFFFF;
    background-image: linear-gradient(to right,var(--primaryColor) 20%, 65%, var(--darkColor)) !important;
}
.dropdown-menu .properties-box p{
    margin: 0;
    font-weight: 500;
    font-size: var(--textMD);
}