.dropdown-menu{
    border: none;
    margin: var(--spaceSM) 0 0 0 !important; 
    border-radius: var(--roundedSM) !important;
    padding: var(--spaceSM);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.filter-section.dropdown-menu{
    width: 480px;
    padding: var(--spaceXMD) 0 !important;
}
.dropdown-menu-end .dropdown-item.active, .dropdown-menu-end .dropdown-item:active, .dropdown-menu-end .dropdown-item:hover{
    background: none !important;
}
.dropdown-item{
    padding: var(--spaceSM) var(--spaceXMD);
    cursor: pointer !important;
    border-radius: var(--roundedSM);
}
.dropdown-menu a.dropdown-item:hover, .dropdown-menu button.dropdown-item:hover{
    background: var(--hoverBG) !important;
}
.dropdown-menu .dropdown-item.danger:hover{
    background: var(--warningBG) !important;
}
.dropdown-item hr{
    margin: 0;
}
.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer{
    padding: var(--spaceXMD) !important;
}
.dropdown-menu .dropdown-header .dropdown-title{
    color: var(--darkColor);
    font-weight: 500;
    font-size: var(--textXLG);
}
.dropdown-menu .dropdown-body{
    padding: var(--spaceXMD) !important;
}
.dropdown-menu .properties-box,.dropdown-menu .properties-box:hover{
    border-radius: 0 0 var(--roundedSM) var(--roundedSM);
    padding: var(--spaceSM) var(--spaceXMD) !important;
    color: var(--whiteColor);
    background-image: linear-gradient(to right,var(--primaryColor) 20%, 65%, var(--darkColor)) !important;
}
.dropdown-menu .properties-box p{
    margin: 0;
    font-weight: 500;
    font-size: var(--textMD);
}

/* Mobile style */
@media (max-width: 767px) {
    .filter-section.dropdown-menu {
        width: 90vw !important;
        margin-inline: var(--spaceXMD) !important;
    }
    .dropdown-menu.dropdown-menu-end.mobile-control {
        width: auto;
        position: fixed !important;
        inset: auto auto var(--spaceXMD) -10px !important;
    }
}