.form-check-input{
    height:23px;
    width:23px;
    cursor:pointer;
}
.form-check-input:checked{
    background-color:var(--primaryColor) !important;
    border:none;
}

.btn-outlined{
    background: transparent;
    border-radius: var(--roundedXLG);
    border:none;
    color: #343434;
    border: 1.5px solid #343434;
}
.btn-outlined.selected{
    color: var(--successBG) !important;
    border: 1.5px solid var(--successBG);
}

.input-warning.text-danger{
    font-size: var(--textSM);
}