/* Variables */

/* Background */
.bg-primary{
    background: #F78A00 !important;
}
.bg-success{
    background: #58C06E !important;
}
.bg-danger{
    background: #D5534C !important;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


/* Container */
.content-section{
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px;
    position: relative;
}
.content-section header{
    position: relative;
}
.content-section-small{
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    position: relative;
}

/* Layout */
#content{
    background:#D9D9D9;
    height:100vh;
    width: 100%;
    overflow:auto;
}
.content-title{
    font-weight:500;
    color:#414141;
}
.content-add, .content-more{
    font-weight:500;
    color:#F78A00;
    float:right;
    background:none;
    border:none;
    text-decoration:none !important;
    cursor: pointer;
    padding:3px 9px;
    margin:0px;
    border-radius:6px;
}
.content-add:hover, .content-more:hover{
    color:#F5F5F5;
    background:#F78A00;
}           
.content-body{
    max-width:1080px;
    display:block;
    margin-inline:auto;
}

.control-holder{
    position: absolute;
    right: 10px;
    top:-5px;
}

/* Drop down */
.dd-profil .dropdown-menu hr{
    margin: 10px 0 10px 0;
    padding: 0;
}
.dd-profil .dropdown-item{
    color: #808080;
    font-weight: 500;
    padding: 10px 10px 10px 20px;
}
.dd-profil .dropdown-menu li{
    position: relative;
}
.dd-profil{
    float: right;
    top: -10px;
}
.dd-profil .btn-transparent{
    border: none;
    min-width: 240px;
    height: 58px !important;
    border-radius: 30px;
    padding-left:6px;
    text-align:left;
}

.item-stack-holder{
    width: 100px !important;
}

.user-username-mini, .properties-date {
    color: #5B5B5B !important;
    font-size: 15px !important;
}
.user-username-mini:hover {
    color:#F78A00 !important; 
    cursor: pointer;
}

/* Tip / Warning box */
.info-box{
    border-radius: 10px;
    color: #5B5B5B;
    font-size: 14px;
    padding: 14px;
    margin: 10px 0 10px 0;
    text-align: start;
}
.info-box.tips{
    background: #c6eff8 !important;
}
.info-box.warning{
    background: #f7bdbd !important;
}
.info-box label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.link-external{
    color:#F78A00 !important;
    text-decoration: none;
    cursor: pointer;
}
.link-external-white{
    color:#FFFFFF !important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external-dark{
    color:#414141 !important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external:hover, .link-external-white:hover{
    text-decoration: underline !important;
}

/* Check this shit */
thead.thead-sticky{
    position:sticky !important; 
    top:80px; 
    background: #FFFFFF;
}

/* Check this */
.box-loading {
    position: fixed;
    width: 160px;
    text-align: center;
    min-height: 160px;
    left: 50%;
    top: 50%;
    font-weight: 400 !important;
    font-size: 14px !important;
    z-index: 1000 !important;
    background: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="progressbar"] {
    --percentage: var(--value);
    --primary: #58C06E;
    --secondary: #cbecd2;
    --size: 120px;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    transition: all .30s linear;
    place-items: center;
}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}