:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedJumbo : 20px;
    --roundedJumbo : 18px;
    --roundedJumbo : 14px;
    --roundedJumbo : 10px;
    --roundedJumbo : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Color Pallete */
    --primaryLightBG : #FADFB9;
    --successBG : #00C363;
    --warningBG : #F85D59;
    --warningDarkBG : #D5534C;
    --infoBG : #009FF9;
    --infoLightBG : #E7F4FE;

    --primaryColor : #F78A00;
    --darkColor : #5B5B5B;
    --whiteColor : #FFFFFF;
}

body{
    font-family: 'Poppins', sans-serif !important;
}
.toast, .toast-body, .toast-header {
    opacity: 1 !important;
    background: white;
}

/* Background */
.bg-primary{
    background: var(--primaryColor) !important;
}
.bg-success{
    background: var(--successBG) !important;
}
.bg-danger{
    background: var(--warningBG) !important;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

/* Table */
th{
    font-weight: 500 !important;
}

/* Container */
.content-section{
    border-radius: 10px;
    background: var(--whiteColor);
    margin-top: calc(var(--spaceJumbo) + 5px);
    margin-bottom: calc(var(--spaceJumbo) + 5px);
    padding: var(--spaceXLG);
    position: relative;
}
.content-section header{
    position: relative;
}
.content-section-small{
    border-radius: 10px;
    background: var(--whiteColor);
    margin-top: calc(var(--spaceJumbo) + 5px);
    margin-bottom: calc(var(--spaceJumbo) + 5px);
    padding: var(--spaceXMD);
    position: relative;
}
.error-page-info{
    background: var(--primaryLightBG) !important;
    text-align: center;
    max-width: 1080px;
    display: block;
    margin-inline: auto;
    width: 100%;
    min-height: 80px;
    padding: var(--spaceXMD);
    border-radius: var(--roundedJumbo);
}

/* Layout */
#content{
    background:#f0f0f0;
    height:100vh;
    width: 100%;
    overflow:auto;
}
.content-title{
    font-weight: 500;
    color:var(--darkColor);
}
.content-add, .content-more{
    font-weight: 500;
    color:var(--primaryColor);
    background:none;
    border:none;
    text-decoration:none !important;
    cursor: pointer;
    padding:6px var(--spaceSM);
    margin:0;
    border-radius:6px;
}
.content-add:hover, .content-more:hover{
    color:#F5F5F5;
    background:var(--primaryColor);
}           
.content-body{
    max-width:1080px;
    display:block;
    margin-inline:auto;
}

.control-holder{
    position: absolute;
    right: 10px;
    top:-5px;
}
.skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #DDDBDD !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skeleton-box.event{
    height: 200px;
    width: 100%;
}
.skeleton-box.user-box{
    height: 100px;
    width: 100%;
}
  
.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
}
@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}

.page-holder{
    text-decoration: none;
    border-radius: 10px;
    border: 1.5px solid var(--primaryColor);
    padding: var(--spaceXXSM) var(--spaceMD);
    margin-right: var(--spaceXXSM);
    margin-bottom: var(--spaceXXSM);
    font-weight: 500;
    font-size: var(--textXLG);
    color: var(--primaryColor);
    cursor: pointer;
    display: inline-block;
}
.page-holder:hover{
    background: var(--primaryColor);
    color: white;
}
.page-holder.active{
    background: #58C06E;
    color: white;
    border: 1.5px solid #58C06E;
}

/* Drop down */
.dd-profil .dropdown-menu hr{
    margin: var(--spaceMD) 0 var(--spaceMD) 0;
    padding: 0;
}
.dd-profil .dropdown-item{
    color: #808080;
    font-weight: 500;
    padding: var(--spaceSM) var(--spaceSM) var(--spaceSM) 20px;
}
.dd-profil .dropdown-menu li{
    position: relative;
}
.dd-profil{
    float: right;
    top: -10px;
}
.dd-profil .btn-transparent{
    border: none;
    min-width: 240px;
    height: 58px !important;
    border-radius: 30px;
    padding-left:var(--spaceXXSM);
    text-align:left;
}
.dropdown-menu.normal{
    width: auto !important;
    padding: var(--spaceMD);
}
.dropdown-menu.normal .dropdown-item{
    padding: var(--spaceXSM) 10px;
    margin-bottom: var(--spaceMini);
    cursor: pointer;
    border-radius: 6px;
}
.dropdown-menu.normal .dropdown-item:hover{
    background: #e9ecef !important;
}


.item-stack-holder{
    width: 100px !important;
}

.user-username-mini, .properties-date {
    color: var(--darkColor) !important;
    font-size: 15px !important;
}
.user-username-mini:hover {
    color:var(--primaryColor) !important; 
    cursor: pointer;
}

/* Tip / Warning box */
.info-box{
    border-radius: 10px;
    color: var(--darkColor);
    font-size: var(--textXMD);
    padding: calc(var(--spaceMD) + 2px);
    margin: var(--spaceSM) 0 var(--spaceSM) 0;
    text-align: start;
}
.info-box.tips{
    background: #c6eff8 !important;
}
.info-box.warning{
    background: #f7bdbd !important;
}
.info-box label{
    font-size: var(--textXMD);
    font-weight: 500;
    margin-bottom: var(--spaceXXSM);
}

.link-external{
    color:var(--primaryColor) !important;
    text-decoration: none;
    cursor: pointer;
}
.link-external-white{
    color:var(--whiteColor) !important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external-dark{
    color:#414141 !important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external:hover, .link-external-white:hover{
    text-decoration: underline !important;
}

/* Check this shit */
thead.thead-sticky{
    position:sticky !important; 
    top:80px; 
    background: var(--whiteColor);
}

/* Check this */
.box-loading {
    position: fixed;
    width: 160px;
    text-align: center;
    min-height: 160px;
    left: 50%;
    top: 50%;
    font-weight: 400 !important;
    font-size: var(--textXMD) !important;
    z-index: 1000 !important;
    background: white;
    border-radius: 30px;
    padding: var(--spaceLG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="progressbar"] {
    --percentage: var(--value);
    --primary: #58C06E;
    --secondary: #cbecd2;
    --size: 120px;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    transition: all .30s linear;
    place-items: center;
}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}