:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 20px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 10px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --primaryLightBG : #FADFB9;
    --successBG : #00C363;
    --successDarkBG : #00b35a;
    --warningBG : #F85D59;
    --warningDarkBG : #D5534C;
    --infoBG : #009FF9;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;

    --primaryColor : #F78A00;
    --darkColor : #5B5B5B;
    --whiteColor : #FFFFFF;
    --greyColor : #C3C3C3;
    --shadowColor : #808080;

    --calendarItem : #85DEF3;
    --importantItem : #FCC4C4;
    --semiPrimary : #FFF1DF;
}

/* Mobile style */
@media (max-width: 767px) {
    #content {
        padding: 0 !important;
    }
    
    p, p span, h6 span, a.from-them-clock, .from-them, a.from-me-clock, .from-me, .input-group-text {
        font-size: var(--textSM) !important;
    }
    h6, span {
        font-size: var(--textXMD);
    }
    .info-box, label, .form-select, .user-username-mini, .properties-date {
        font-size: var(--textMD) !important;
    }

    .event-status, .event-views, .event-created-at, .event-heading, .last-updated {
        font-size: var(--textMD) !important;
    }
    input, footer p, .card-body {
        font-size: var(--textXMD) !important;
    }
    h5{
        font-size: var(--textLG);
    }
    .btn-accordion-custom{
        font-size: var(--textLG) !important;
    }
    .quick-action-text {
        font-size: var(--textXLG) !important;
    }
    .img.nodata-icon {
        height: 160px !important;
    }

    .modal {
        top: 5vh;
        padding-inline: var(--spaceMD);
    }
    .warning-draft, .total-my-event {
        top: 10px !important;
        padding: var(--spaceSM) !important;
        padding-inline: var(--spaceXMD) !important;
        right: 7.5px !important;
        font-size: var(--textXMD) !important;
    }

    .btn-mobile-control {
        position: fixed;
        background: var(--primaryColor);
        z-index: 1000;
        bottom: 2vh;
        right: 2vh;
        height: 55px;
        width: 55px;
        color: var(--whiteColor) !important;
        font-size: var(--textLG);
        border-radius: var(--roundedCircle);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .custom-close-modal {
        top: var(--spaceSM);
        background: var(--warningBG);
        color: var(--whiteColor);
        z-index: 999;
    }

    .event-heading {
        position: absolute;
        top: 40px;
        width: 100%;
    }
    .event-heading .user-image-content {
        position: absolute;
        top: -5px;
        left: 5px;
        width: 40px !important;
        height: 40px !important;
    }
    .event-heading .event-title, .event-heading .event-subtitle {
        position: absolute;
        top: 0;
        left: 50px;
    }
    .event-body .event-desc {
        position: absolute;
        top: 50px;
    }
    .event-body .event-properties {
        position: absolute;
        bottom: 5px !important;
    }

    th, .table-responsive {
        font-size: var(--textMD);
    }
    td, .dataTables_info {
        font-size: var(--textSM);
    }
    table.table-paginate {
        display: flex; 
        flex-direction: column; 
        max-width: 100vh; 
        overflow-x: scroll;
    }

    .paginate_button {
        font-size: var(--textMD);
    }

    .content-section { 
        padding: var(--spaceLG) var(--spaceMD) !important;
        margin: var(--spaceMD) 0 !important;
        border-radius: 0 !important;
    }
    .content-section header {
        height: 70px !important;
    }

    .toast {
        position: fixed;
        top: 120px;
        width: 90%;
        margin-inline: var(--spaceLG);
        left: 0;
        z-index: 999 !important;
    }

    .page-holder {
        font-size: var(--textMD) !important;
    }

    .carousel-control-next {
        color: var(--primaryColor) !important;
        opacity: 1;
        position: absolute;
        top: calc(var(--spaceMD) + 2px);
        right: calc(0px - var(--spaceSM));
    }

    .err-msg {
        font-size: var(--textSM);
    }
}

/* Tablet style */
@media (min-width: 768px) and (max-width: 1023px) {
    #content {
        padding: 0 !important;
    }

    .event-heading {
        position: absolute;
        top: 35px;
        width: 100%;
    }
    .event-heading .user-image-content {
        position: absolute;
        top: -5px;
        left: 5px;
        width: 40px !important;
        height: 40px !important;
    }
    .event-heading .event-title, .event-heading .event-subtitle {
        position: absolute;
        top: 0;
        left: 50px;
    }
    .event-body .event-desc {
        position: absolute;
        top: 50px;
    }
    .event-body .event-properties {
        position: absolute;
        bottom: 5px !important;
    }
    .modal-xl {
        width: 100% !important;
    }
    .content-body {
        padding-inline: var(--spaceMD);
    }
}

/* Mobile & Tablet style */
@media screen and (max-width: 1023px) {
    .user-image-content{ 
        position: absolute;
        margin-top: -37.5px;
        margin-left: 35%;
    }
    .home-content {
        padding: var(--spaceMini) var(--spaceMD) !important;
    }
    .event-navigator {
        padding-inline: var(--spaceMD);
    }
}

body{
    font-family: 'Poppins', sans-serif !important;
}
.toast, .toast-body, .toast-header {
    opacity: 1 !important;
    background: var(--whiteColor);
}
.modal {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
b {
    font-weight: 600 !important;
}

/* Background */
.bg-primary{
    background: var(--primaryColor) !important;
}
.bg-success{
    background: var(--successBG) !important;
}
.bg-danger{
    background: var(--warningBG) !important;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

/* Table */
th{
    font-weight: 500 !important;
}

/* Container */
.content-section{
    border-radius: var(--roundedSM);
    background: var(--whiteColor);
    margin-top: calc(var(--spaceJumbo) + 5px);
    margin-bottom: calc(var(--spaceJumbo) + 5px);
    padding: var(--spaceXLG);
    position: relative;
}
.content-section header{
    position: relative;
}
.content-section-small{
    border-radius: var(--roundedSM);
    background: var(--whiteColor);
    margin-top: calc(var(--spaceJumbo) + 5px);
    margin-bottom: calc(var(--spaceJumbo) + 5px);
    padding: var(--spaceXMD);
    position: relative;
}
.error-page-info{
    background: var(--primaryLightBG) !important;
    text-align: center;
    max-width: 1080px;
    display: block;
    margin-inline: auto;
    width: 100%;
    min-height: 80px;
    padding: var(--spaceXMD);
    border-radius: var(--roundedJumbo);
}
.card-body {
    position: relative;
}

/* Layout */
#content{
    background: var(--hoverBG);
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: var(--spaceLG);
}
.content-title{
    font-weight: 500;
    color: var(--darkColor);
}
.content-add, .content-more{
    font-weight: 500;
    color: var(--primaryColor);
    background: none;
    border: none;
    text-decoration: none !important;
    cursor: pointer;
    padding: 6px var(--spaceSM);
    margin: 0;
    border-radius: var(--roundedMini);
}
.content-add:hover, .content-more:hover{
    color: var(--whiteColor);
    background: var(--primaryColor);
}           
.content-body{
    max-width: 1080px;
    display: block;
    margin-inline: auto;
}
.home-content {
    padding: var(--spaceXSM) 0;
}
.err-msg {
    color: var(--warningBG);
    font-size: var(--textMD);
}

.control-holder{
    position: absolute;
    right: 10px;
    top: -5px;
}
.skeleton-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: var(--roundedMD);
    background-color: #DDDBDD !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skeleton-box.event{
    height: 200px;
    width: 100%;
}
.skeleton-box.user-box{
    height: 100px;
    width: 100%;
}
  
.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
}
@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}

.page-holder{
    text-decoration: none;
    border-radius: var(--roundedSM);
    border: 1.5px solid var(--primaryColor);
    padding: var(--spaceXXSM) var(--spaceMD);
    margin-right: var(--spaceXXSM);
    margin-bottom: var(--spaceXXSM);
    font-weight: 500;
    font-size: var(--textXLG);
    color: var(--primaryColor);
    cursor: pointer;
    display: inline-block;
}
.page-holder:hover{
    background: var(--primaryColor);
    color: var(--whiteColor);
}
.page-holder.active{
    background: var(--successBG);
    color: var(--whiteColor);
    border: 1.5px solid var(--successBG);
}

.image-msg-md {
    width: 70%;
    max-width: 220px;
}

/* Drop down */
.dd-profil .dropdown-menu hr{
    margin: var(--spaceMD) 0 var(--spaceMD) 0;
    padding: 0;
}
.dd-profil .dropdown-item{
    color: var(--darkColor);
    padding: var(--spaceSM) var(--spaceSM) var(--spaceSM) 20px;
}
.dd-profil .dropdown-menu li{
    position: relative;
}
.dd-profil{
    float: right;
    top: -10px;
}
.dd-profil .btn-transparent{
    border: none;
    min-width: 240px;
    height: 58px !important;
    border-radius: var(--roundedJumbo);
    padding-left:var(--spaceXXSM);
    text-align:left;
}
.dropdown-menu.normal{
    width: auto !important;
    padding: var(--spaceMD);
}
.dropdown-menu.normal .dropdown-item{
    padding: var(--spaceXSM) 10px;
    margin-bottom: var(--spaceMini);
    cursor: pointer;
    border-radius: var(--roundedMini);
}
.dropdown-menu.normal .dropdown-item:hover{
    background: #e9ecef !important;
}

.last-updated {
    font-size: var(--textMD);
    color: var(--primaryColor);
    font-style: italic !important;
    text-decoration: none;
    position: absolute;
}


.item-stack-holder{
    width: 100px !important;
}

.user-username-mini, .properties-date {
    color: var(--darkColor) !important;
    font-size: 15px;
}

/* Tip / Warning box */
.info-box{
    border-radius: var(--roundedSM);
    color: var(--darkColor);
    font-size: var(--textXMD);
    padding: calc(var(--spaceMD) + 2px);
    margin: var(--spaceSM) 0 var(--spaceSM) 0;
    text-align: start;
}
.info-box.tips{
    background: #c6eff8 !important;
}
.info-box.warning{
    background: #f7bdbd !important;
    color: var(--darkColor) !important;
}
.info-box label{
    font-size: var(--textXMD);
    font-weight: 500;
    margin-bottom: var(--spaceXXSM);
}

.link-external{
    color:var(--primaryColor) !important;
    text-decoration: none;
    cursor: pointer;
}
.link-external-white{
    color:var(--whiteColor) !important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external-dark{
    color:var(--darkColor)!important;
    text-decoration: none !important;
    cursor: pointer;
}
.link-external:hover, .link-external-white:hover{
    text-decoration: underline !important;
}
.triangle-container {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

thead.thead-sticky{
    position:sticky !important; 
    top:80px; 
    background: var(--whiteColor);
}

.box-loading {
    position: fixed;
    width: 160px;
    text-align: center;
    min-height: 160px;
    left: 50%;
    top: 50%;
    font-weight: 400 !important;
    font-size: var(--textXMD) !important;
    z-index: 1000 !important;
    background: var(--whiteColor);
    border-radius: var(--roundedJumbo);
    padding: var(--spaceLG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

[role="progressbar"] {
    --percentage: var(--value);
    --primary: var(--successBG);
    --secondary: #cbecd2;
    --size: 120px;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    transition: all .30s linear;
    place-items: center;
}

[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}