.nodata-icon{
    display: block;
    margin-inline: auto;
    min-height: 80px;
    max-height: 200px;
}
.nodata-icon-req{
    display: block;
    margin-inline: auto;
    height: 100px;
}
.nodata-icon-role{
    display: block;
    margin-inline: auto;
    height: 140px;
    min-height: 80px;
}
.err-msg-data{
    text-align: center;
    display: block;
    margin-inline: auto;
    margin-top: calc(var(--spaceJumbo) + 15px);
    margin-bottom: calc(var(--spaceJumbo) + 15px);
}

.logo-big-res{
    max-height: 380px; 
    max-width: 380px; 
    min-height: 200px; 
    min-width: 200px;
    width: 50%;
    display: block;
    margin-inline: auto;
}