.modal-content {
    margin-top: var(--spaceXXSM);
    border-radius: var(--roundedLG);
}
.modal-body {
    position:relative;
}

.custom-close-modal, .gm-ui-hover-effect, .fc-popover-close.fc-icon.fc-icon-x{
    position: absolute !important;
    top: -20px;
    background: var(--whiteColor) !important;
    width: 45px;
    right: 10px !important;
    height: 45px;
    padding: var(--spaceXXSM);
    color: var(--warningBG) !important;
    border-radius: var(--roundedCircle) !important;
    border: none;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}
.gm-ui-hover-effect {
    width: 30px !important;
    height: 30px !important;
    top: 10px !important;
}
.custom-submit-modal {
    position: absolute !important;
    bottom: -20px;
    background:var(--whiteColor);
    right: 10px;
    height: 45px;
    padding: var(--spaceXXSM) var(--spaceMD);
    color: var(--successBG);
    border-radius: var(--roundedMini);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}

.custom-close-modal:hover, .gm-ui-hover-effect:hover, .fc-popover-close.fc-icon.fc-icon-x:hover {
    background: var(--warningBG) !important;
    color: var(--whiteColor) !important;
}
.custom-submit-modal:hover {
    background:var(--successBG);
    color:var(--whiteColor);
}

.popover-header {
    background:var( --infoBG);
    color:var(--whiteColor);
    border: none;
} 