.modal-content{
    margin-top:7vh;
}
.modal-body{
    position:relative;
}

.custom-close-modal{
    position:absolute !important;
    top:-20px;
    background:#FFFFFF;
    width:45px;
    right:10px;
    height:45px;
    padding:6px;
    color:var(--warningBG);
    border-radius:100%;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}
.custom-submit-modal{
    position:absolute !important;
    bottom:-20px;
    background:#FFFFFF;
    right:10px;
    height:45px;
    padding:6px 12px;
    color:var(--successBG);
    border-radius:6px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}

.custom-close-modal:hover{
    background:var(--warningBG);
    color:#F5F5F5;
}
.custom-submit-modal:hover{
    background:var(--successBG);
    color:#F5F5F5;
}

.popover-header{
    background:var( --infoBG);
    color:#F5F5F5;
    border: none;
} 