.navbar-holder{
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    padding: 20px;
    background-image: linear-gradient(to right,#F78A00 20%, 65%, #5b5b5b);   
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999 !important;
    margin-top: 50px;
}
.navbar-title{
    position: absolute;
    top: 26px;
    color: #FFFFFF;
    left: 70px;
}