.navbar-holder {
    border-radius: var(--roundedSM);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    padding: var(--spaceLG);
    background-image: linear-gradient(to right,var(--primaryColor) 20%, 65%, var(--darkColor));   
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999 !important;
    margin-top: var(--spaceLG);
}
.navbar-title{
    position: absolute;
    top: 26px;
    color: var(--whiteColor);
    left: 70px;
}
/*Sidebar*/
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: var(--background3);
    color: var(--darkColor);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}
#sidebar.active {
    margin-left: -300px;
}
#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
#sidebar .logo span {
    display: block;
}
#sidebar ul.components {
    padding: 0;
}
#sidebar ul li {
    font-size: var(--textLG);
    padding:var(--spaceMini);
    font-weight:400;
    margin-bottom:calc(var(--spaceXMD) + 2px);
}
#sidebar ul li > ul {
    margin-left: var(--spaceSM);
}
#sidebar ul li > ul li {
    font-size: var(--textXMD);
}
#sidebar ul li a {
    padding: var(--spaceSM);
    display: block;
    text-decoration:none;
    color: var(--text2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.accordion{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

:not(#sidebar ul li) > .btn-accordion-custom{
    border: none;
    margin: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    color: #5B5B5c;
    font-weight:500;
}

/*li*/
#sidebar ul li.active, #sidebar ul li:hover {
    width:95%;
    margin-left:-30px;
    padding: var(--spaceMini) var(--spaceJumbo);
    border-radius: 0px var(--roundedSM) var(--roundedSM) 0px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#sidebar ul li.active, #sidebar ul li.active .btn-accordion-custom {
    background:var(--primaryColor);
    color:var(--whiteColor) !important;
}
#sidebar ul li:hover:not(.active), #sidebar ul li.sub.active {
    color:var(--primaryColor) !important;
    background: var(--whiteColor);
    border-left:12px solid var(--primaryColor);
}
#sidebar ul li:hover:not(.active) .btn-accordion-custom {
    color:var(--primaryColor);
}

/*li icon*/
#sidebar ul li.active i, #sidebar ul li:hover i{
    margin-top:var(--spaceXXSM);
    color:var(--primaryColor) !important;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#sidebar ul li.active i{
    position: absolute;
    right:20px;
}
#sidebar ul li:hover:not(.active) i{
    position: absolute;
    right:60px;
}

#sidebar ul li.active > a {
    background: transparent;
    border-left: 4px solid var(--text2);
}
@media (max-width: 1366px) {
    #sidebar {
        margin-left: -300px; 
    }
    #sidebar.active {
        margin-left: 0; 
    }
}
@media (max-width: 1366px) {
    #sidebarCollapse span {
        display: none;
    }
}

/* Mobile style */
@media (max-width: 767px) {
    .navbar-holder {
        margin-top: var(--spaceSM) !important;
    }
    .navbar-image {
        position: absolute;
        right: 0;
    }
    .btn-close-sidebar{
        width: 50px;
        height: 50px;
        font-size: var(--textLG) !important;
        position: fixed;
        right: var(--spaceXLG);
        z-index: 1000 !important;
        color: var(--whiteColor) !important;
        border-radius: var(--roundedCircle);
        background: var(--warningBG);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}