.text-danger{
    color:#F85D59 !important;
    text-decoration:none;
}
.text-success{
    color: #00c363 !important;
}
.text-secondary{
    color: #5B5B5B !important;
}
.text-primary{
    color: #F78A00 !important;
}
.error_input{
    color:#F85D59 !important;
    text-decoration: none;
    font-size: 13px;
}
.status-info{
    border-radius: 10px;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 14px;
}