.fw-bold { 
    font-weight: 500 !important;
}
.text-danger{
    color:var(--warningBG) !important;
    text-decoration:none;
}
.text-success{
    color: var(--successBG) !important;
}
.text-secondary{
    color: var(--darkColor) !important;
}
.text-primary, .text-link{
    color: var(--primaryColor) !important;
}
.text-info{
    color: var(--infoBG) !important;
    text-decoration: none;
}
.text-link {
    text-decoration: none;
}

.section-title {
    color: var(--darkColor);
    font-weight: 500;
    margin-bottom: var(--spaceXMD);
}

.available-desc {
    font-size: var(--textMD); 
    max-width:85%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.content-last {
    text-align: center;
    margin-top: var(--spaceXMD);
    font-size: var(--textXMD);
    color: var(--darkColor);
}

.error_input{
    color:var(--warningBG) !important;
    text-decoration: none;
    font-size: var(--textMD);
}
.warning-input{
    color:var(--primaryColor) !important;
    text-decoration: none;
    font-size: var(--textMD);
    white-space: normal;
}
.status-info{
    border-radius: var(--roundedSM);
    color: var(--whiteColor);
    padding: var(--spaceXXSM) var(--spaceSM);
    font-size: var(--textXMD);
}